.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}
.topheader {
  background-image: url("../img/topheader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  width: 100%;
  height: 39px;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shows {
  display: none !important;
}
.topheader::after {
  content: "";
  background-color: rgba(123, 44, 51, 0.78);
  width: 100%;
  height: 39px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.Atelier_mobail{
  display: none !important;
}
.Atelier_none{
  display: block;
}
.topheader__header {
  padding-right: 50px;
  display: flex;
  justify-content: center;
  z-index: 2;
  align-items: center;
}
.header_list-right{
  max-width: 447px !important;
}
.topheader__title {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.16em;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
  padding: 0 8px;
}
.topheader__header span {
  font-style: normal;
  letter-spacing: 0.16em;
  font-weight: bold;
  font-size: 15px;
  line-height: 160%;
  color: #ffffff;
}

.modal-content{
  padding: 48px 64px;
  border: none;
  border-radius: 0px;
}

.btn-close{
  position: absolute;
  top: -20px;
  right: -20px;
}
.btn-close:focus{
  box-shadow: none;
}
.modal-header {
  border-bottom: none;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; 
}
.modal-footer{
  border-top: none;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; 
}
.form__modal input{
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
  padding: 13px 12px;
  background: #F2F2F2;
  border: none;
}
.modal__title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  color: #171717;
}
.modal-dialog{
  max-width: 570px;
}
.sperku_left{
  margin: 0 0px !important;
}
.modal-footer{
  margin-top: 20px;
}
.modal__btn{
  margin: 0 auto;
  border: none;
  padding: 18px 102px;
  background: #7B2C33;
  border: 1px solid #7B2C33;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.header__scroll {
  display: none;
  max-width: 1280px;
  width: 100%;
}
.header__block {
  display: block;
}
.header_nav-scroll {
  display: flex;
  justify-content: space-between;
}
.list_scroll {
  max-width: 503px !important;
  width: 100%;
}
.list_scroll-but {
  max-width: 275px !important;
  width: 100%;
}

.header-scrol{
  padding-top: 8px !important;
}
.header {
  padding-top: 22px;
  padding-bottom: 8px;
}
.header_scroll-logo{
  max-width: 138px !important;
  width: 100% !important;
}
.header__logo {
  max-width: 200px;
  width: 100%;
}
.header__logo img {
  width: 100%;
}
.tel{
  color: #7B2C33 !important;
  font-weight: bold !important;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  justify-content: space-between;
  max-width: 363px;
  width: 100%;
}
.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #020203;
  transition: 0.3s;
}
.header__link:hover {
  color: #7b2c33;
}

.header__burger {
  display: none;
}

.section__swiper {
  margin-top: 170px;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 1920px;
  width: 100%;
  object-fit: cover;
}

.swiper__messenges img {
  width: 70px;
  height: 70px;
}
.swiper__content {
  z-index: 17;
  position: absolute;
  left: 300px;
  top: 191px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.swiper__header {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 30px;
}
.swiper__subheader {
  padding-bottom: 43px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  max-width: 386px;
  width: 100%;
}
.section__btn {
  max-width: 260px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #7b2c33;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  transition: .3s;
}
.section__btn:hover{
  background: #6b2127;
  color: #fff !important;
}
.swiper__info {
  padding-top: 34px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  z-index: 17;
  background: #fff;
  padding-left: 300px;
  padding-right: 68px;
  display: flex;
  align-items: center;
}
.swiper__info p {
  max-width: 317px;
  width: 100%;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
}
.swiper__info::before {
  margin-right: 20px;
  content: "//";
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 140%;
  color: #7b2c33;
}
.swiper__messenges {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 142px;
  z-index: 100;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  flex-direction: column;
  width: 10px;
  align-items: center;
  left: 83.8%;
  top: 275px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: transparent;
  width: 20px;
  height: 20px;
  color: #fff;
  border: 2px solid #fff;
  position: relative;
}
.swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 100%;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 11px;
}

.onas {
  margin-top: 100px;
}
.onas__bg {
  max-width: 400px;
  width: 100%;
  height: 496px;
}
.onas__bg img {
  width: 100%;
  height: 100%;
}
.onas__bg:first-child {
  max-width: 180px;
  width: 100%;
  height: 246px;
}
.onas__bg img:last-child {
  width: 100%;
  height: 100%;
}
.onas__images {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.onas__images::after {
  position: absolute;
  content: "";
  background: url("../img/onas/3.svg") no-repeat center;
  left: -50px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.onas__bg:last-child {
  padding-left: 40px;
}
.item_center{
  align-items: center;
}
.section__header {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}
.onas__item {
  padding-left: 70px;
}
.section__header::before {
  margin-right: 20px;
  content: "//";
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 140%;
  color: #7b2c33;
}
.section__header h2 {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  color: #000000;
}
.onas__info {
  padding-bottom: 35px;
}
.onas__info p {
  max-width: 510px;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}
.sluzby {
  margin-top: 135px;
}
.header__mobile-tel{
  display: none;
}
.header_link-active{
  color: #7B2C33;
}
.sluzby__img{
  max-width: 400px;
  width: 100%;
}
.sluzby__img img{
  position: relative;
  width: 100%;
}
.sluzby__img::after {
  position: absolute;
  background: linear-gradient(357.2deg, #000000 5.24%, rgba(0, 0, 0, 0) 100.16%);
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
}
.sluzby__img:hover::after{
  background: linear-gradient(357.2deg, #000000 5.24%, rgba(0, 0, 0, 0.5) 100.6%);
}
.sluzby__header {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}
.sluzby__header::after {
  position: absolute;
  content: "";
  background: #7b2c33;
  opacity: 0.7;
  max-width: 70px;
  width: 100%;
  height: 5px;
  top: -10px;
  left: 0;
}
.sluzby__header p {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
}
.sluzby__link {
  text-align: right;
}
.sluzby__link a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #7b2c33;
}
.sluzby__item-ser {
  max-width: 400px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.sluzby__item-bold {
  max-width: 400px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.sluzby__item-itl {
  max-width: 400px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.form {
  margin-top: 165px;
}
.form__text {
  padding-top: 21px;
}
.form__text p {
  padding-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}
.form__item form textarea {
  padding: 15px 17px;
  resize: none;
  max-width: 345px;
  width: 100%;
  height: 171px;
  background: #7b2c33;
  color: #fff;
  opacity: 0.5;
  border: 1px solid #ffffff;
}
.form__btn {
  background: #ffffff !important;
  border: none;
  opacity: 1 !important;
  color: #7b2c33 !important;
}
.form__item form textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.5;
}
.form__item {
  margin-left: 21px;
  max-width: 708px;
  width: 100%;
  background-color: #7b2c33;
  padding: 48px 53px;
  position: relative;
  height: 654px;
  z-index: 1;
}
.form__item::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/form__bg.png");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 280px;
  width: 100%;
  height: 100%;
  background-size: cover;
  right: 0;
  top: 0px;
}
.form__header {
  padding-bottom: 5px;
  padding-left: 60px;
}
.form__header p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 160%;
  color: #ffffff;
}
.form__subheader {
  padding-bottom: 20px;
  padding-left: 20px;
}
.form__subheader p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  color: #ffffff;
  max-width: 290px;
  width: 100%;
  text-align: center;
}
.form__item form {
  display: flex;
  flex-direction: column;
}
.form__item form input {
  max-width: 345px;
  padding: 15px 17px;
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7b2c33;
  margin-bottom: 25px;
  opacity: 0.5;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: .3s;
}
.btn-close{
  color: #fff !important;
  background: transparent url(../img/close_big.svg) center/1em auto no-repeat;
}
.modal-body{
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
}
.form__item form input:last-child:hover{
  background: transparent !important;
  color: #fff !important;
}
.form__item form input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.5;
}
.soubor {
  padding-top: 25px;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.soubor img {
  padding-right: 14px;
}
.soubor p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #ffffff;
}

.map {
  margin-top: 138px;
}
.map__item {
  position: relative;
}
.map__img {
  max-width: 770px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.map__img::after {
  content: "";
  top: 30%;
  position: absolute;
  background: url("../img/pointer.png") no-repeat center;
  background-size: cover;
  max-width: 175px;
  width: 100%;
  height: 130px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.map__img img {
  width: 100%;
}
.map__btn {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 263px;
  width: 100%;
  z-index: 11;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7b2c33;
}
.map__btn a {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.map__link p {
  margin-bottom: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 129.5%;
  color: #000000;
}
.map__link {
  display: flex;
  flex-direction: column;
}
.map__link a {
  margin-bottom: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 129.5%;
  color: #000000;
}
.map__link img {
  margin-right: 20px;
}

.footer {
  margin-top: 75px;
}
.footer__border {
  padding: 60px 0;
  position: relative;
}
.footer__border::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  border-top: 1px solid #7b2c33;
  opacity: 0.7;
}

.footer__item {
  max-width: 240px;
  width: 100%;
}
.footer__logo {
  max-width: 240px;
  width: 100%;
}
.footer__logo img {
  width: 100%;
}
.footer__social {
  margin: 0 auto;
  padding-top: 51px;
  max-width: 139px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  max-width: 220px;
  width: 100%;
  margin-left: 45px;
}
.footer_Atelier {
  padding-top: 30px;
  max-width: 385px;
  width: 100%;
  padding-bottom: 0;
}
.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #020203;
}
.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
}
.footer__form-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 16px;
}
.footer__form-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #000000;
  padding-bottom: 16px;
}
.footer__form form {
  display: flex;
  align-items: center;
}
.footer__form form input {
  background: #ffffff;
  border: 1px solid #000000;
  padding: 18px 21px;
  opacity: 0.5;
  max-width: 349px;
  width: 100%;
  height: 60px;
}
.footer__form form input:last-child {
  width: 60px;
  height: 60px;
  padding: 19px 26px;
  border: none;
  background-color: #7b2c33;
  background-image: url("../img/footer/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

/* galerie */
.galerie {
  margin-top: 170px;
}
.galerie__item {
  margin-bottom: 30px;
  position: relative;
  max-width: 620px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}
.galerie__item img{
  width: 100%;
}
.galerie__item:hover .galerie__content {
  display: block;
}

.galerie__content {
  display: none;
  position: relative;
  transition: 0.5s;
}
.galerie__content::after {
  position: absolute;
  content: "";
  width: 100%;
  top: -420px;
  height: 420px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15.06%, #000000 100%);
  opacity: 0.8;
  left: 0;
  z-index: 1;
}
.galerie__header {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 97px;
  left: 29px;
}
.galerie__btn {
  position: absolute;
  left: 29px;
  bottom: 0;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  padding: 16px 47px;
  background: #7b2c33;
  border: 1px solid #7b2c33;
  z-index: 15;
}
.galerie__header h2 {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #ffffff;
  z-index: 2;
}
.galerie__header::before {
  content: "//";
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: #7b2c33;
  margin-right: 16px;
}

.galerie_messenges {
  right: 142px;
}

/* zapinani */
.zapinani {
  margin-top: 170px;
}
.zapinani__img-norm {
  max-width: 400px;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}
.zapinani__img-norm img{
  width: 100%;
}
.zapinani__img-normbold {
  max-width: 400px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.zapinani__img-normbold:last-child{
  margin-top: -30px;
}
.header__dropdons{
  position: relative;
}
.header__dropdons-content{
  display: none;
  position: absolute;
  top: 100%;
  background: #fff;
  left: -10px;
  width: 60px;
  height: 70px;
  padding: 10px;
}
.dropdons_link{
  padding-bottom: 20px;
}
.header__dropdons:hover .header__dropdons-content{
  display: block;
}

.zapinani__img-normbold img{
  width: 100%;
}
.zapinani__img-bold {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin-bottom: 10px;
  transition: .5s;
}
.zapinani__img-bold img{
  width: 100%;
}
.zapinani__img-bold::after{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
}
.zapinani__img-bold:hover::after{
  opacity: 1;
}
.zapinani__img-norm::after{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
}
.zapinani__img-norm:hover::after{
  opacity: 1;
}
.zapinani__img-normbold::after{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
}
.zapinani__img-normbold:hover::after{
  opacity: 1;
}
.arrow {
  display: flex;
  justify-content: space-between;
}
.arrow__pagination {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  color: #000000;
}
.arrow__pagination img {
  max-width: 53px;
  width: 100%;
  margin: 0 24px;
}

/* sperku */
.sperku {
  margin-top: 180px;
}
.sperku__info {
  padding-bottom: 64px;
}
.sperku__info p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  padding-top: 24px;
}
.sperku__info li {
  padding-top: 14px;
}
.sperku__btn {
  max-width: 260px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7b2c33;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin: 0 auto;
  transition: .3s;
}
.sperku__btn:hover{
  background: #6b2127;
}
.sperku__swiper {
  margin-top: 37px;
}

.grid {
  width: calc(100% + 20px);
  margin-left: -10px;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  float: left;
  max-width: 400px;
  width: 100%;
  /* height: 360px; */
  counter-increment: item;
  padding: 20px;
}
.grid-item a img{
  max-width: 100%;
}
/* 
.grid-item--height3 { height: 750px; }
.grid-item--height2 { height: 360px; } */



/* onas */
.main__onas{
  margin-top: 170px;
}
.main__onas-img img{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  max-height: 496px;
  height: 100%;
}
.main__onas-text{
  padding: 32px 0;
}
.main__onas-item{
  margin-top: 32px;
  padding: 60px 70px;
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__onas-info li{
  padding: 10px 0;
}
.onas_bold{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}
.item_text{
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.main__onas-item img{
  max-width: 137px;
  width: 100%;
  height: 137px;
  padding-left: 27px;
}
.main__onas-item p{
  max-width: 880px;
}
.main__onas p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}
.onas_footer{
  margin-top: 20px;
}